<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/items"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" (click)="onClear()">
        <ion-label>Clear</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of checkoutItems">
      <ion-avatar slot="start" [routerLink]="['/items', item.id]">
        <ion-img [src]="item.imageUrl"></ion-img>
      </ion-avatar>
      <ion-row>
        <ion-col>
          <ion-label>{{item?.title}}</ion-label>
          <ion-label>Price: ${{(item?.quantity * item?.price).toFixed(2)}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-button (click)="onRemoveItem(item)" slot="end">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      <ion-label slot="end">
        {{item.quantity}}
      </ion-label>
      <ion-button (click)="onAddItem(item)" [routerLink]='null' slot="end">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label slot="end">
      Subtotal({{onCartTotalQuantity()}} items): ${{onCartTotal().toFixed(2)}}
    </ion-label>
  </ion-item>
</ion-content>
